@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  color: whitesmoke;
  background-color: #182b3a;
  background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#searchbar {
  margin-top: 50px;
}

input {
  min-width: 15rem;
  min-height: 2rem;
  border-radius: 5px;
  box-shadow: none;
  border: none;
}

table {
  margin: 50px auto;
}

#add-name-btn,
#search-btn {
  min-width: 5rem;
  height: 2rem;
  border-radius: 5px;
  box-shadow: none;
  border: none;
}

table,
th,
td {
  border-collapse: collapse;
  border: 2px solid whitesmoke;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

th,
td {
  padding: 5px;
}
